/**
 * Data-sensitive color scheme 
 * EARLY: 09c
 * ON TIME: 6c3
 * LATE: f60
 * VERY LATE: c00
 */

.trainStatusBar {
	height: 730px;
	overflow: auto;
	border: 1px #333 solid;
}

/* Default status */
#trainList li {
	-webkit-transition: background-color 1000ms linear;
	-moz-transition: background-color 1000ms linear;
	transition: background-color 1000ms linear;
	background-color: #fff;
	color: #333;
}

/* These trains are not yet running. */
#trainList [data-status="N"] {
	color: #b9b9b9;
	background-color: #333;
	font-style: italic;
}
#trainList [data-lateclass="early"] {
	background-color: #09c;
}
#trainList [data-lateclass="ontime"] {
	background-color: #6c3;	
}
#trainList [data-lateclass="late"] {
	background-color: #f60;	
}
#trainList [data-lateclass="verylate"] {
	background-color: #c00;	
}	

/* Pie chart styles */
#onTimePortion {
	display: inline-block;
}
#onTimePortion path.waiting {
	fill: #333;
}	
#onTimePortion  path.early {
	fill: #09c;
}
#onTimePortion  path.ontime {
	fill: #6c3;
}	
#onTimePortion path.late {
	fill: #f60;
}	
#onTimePortion  path.verylate {
	fill: #c00;
}	
/* Map styles */
#map .station {
	fill: #20426e;
}
#map .train {
	fill: #666;
}

#map .train.ontime {
	fill: #6c3;
}

#map .train.early {
	fill: #09c;
}

#map .train.late {
	fill: #f60;
}

#map .train.verylate {
	fill: #c00;
}

/* Color the map */
.subunit-boundary.interior {
	fill: none;
}

.subunit-boundary.exterior {
	fill: none;
}


.ENG, .SCT, .WLS {
	fill: #46515e;
}
.IRL {
	fill: #363;
}
.NIR {
	fill: #fff;
}
.IRL {
	fill: #f9f5ec;
}



